.contact-title {
    padding-top: var(--size-xl);
    padding-bottom: var(--size-xl);
    .side-to-side {
        align-items: start;
        h1 {
            width: 50%;
        }
        .contact-p {
            width: 50%;
            .written-text {
                max-height: var(--size);
            }
        }
    }
}
.contact-socials {
    display: flex;
    flex-direction: column;
    gap: var(--size);
    margin: var(--size);
}
@media screen and (max-width: 425px) {
    .contact-title .side-to-side {
        h1, .contact-p {
            width: 100%;
            text-align: center;
            div {
                text-align: center !important;
            }
        }
    }
}