.home-background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-position: 50% 50%;
    object-fit: cover;
    filter: brightness(50%);
}
#home {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--size-s) 10% 0 10%;
    box-sizing: border-box;
    color: white;
    font-size: var(--size);
    overflow-y: auto;
    scrollbar-width: none;
}

#home-tabs {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    gap: var(--size-xxs);
    position: relative;
    .home-tab {
        width: 100px;
        background-color: var(--home-border);
        border: var(--size-xs) solid var(--home-border);
        text-align: center;
        border-radius: var(--size);
        filter: brightness(50%);
        cursor: pointer;
        padding: var(--size-xxs) var(--size-s);
        margin-bottom: var(--size-s);
    }
    .active-tab {
        filter: brightness(100%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 2;
        margin-bottom: 0;
        transition: color 0.5s;
        &:hover {
            color: var(--primary);
        }
    }
    .desktop-tab {
        width: auto;
        position: absolute;
        right: 0;
        filter: brightness(70%);
        background-color: var(--primary);
        border-color: var(--primary);
        border-image: linear-gradient(to right, #119abd, var(--primary), var(--primary), #119abd);
        background-image: linear-gradient(to right, #119abd, var(--primary), var(--primary), #119abd);
        background-size: 200% auto;
        animation: gradient 8s linear infinite;
        transition: all 0.5s;
        &:hover {
            filter: brightness(100%);
        }
    }
}
#home-content {
    width: 100%;
    max-width: 1000px;
    min-height: calc(100% - 52px);
    overflow: hidden;
    margin: auto;
    background-color: var(--home-color);
    border-top-right-radius: var(--size);
    box-sizing: border-box;
    border: var(--size-xs) solid var(--home-border);
    position: relative;
    top: -8px;
    z-index: 1;
    backdrop-filter: blur(3px);
}
@media screen and (max-width: 860px) {
    #home{
        padding-left: var(--margin);
        padding-right: var(--margin);
    }
}
@media screen and (max-width: 375px) {
    #home{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 730px) {
    .desktop-tab {
        width: 200px !important;
        z-index: 2;
        top: var(--size-xxl);
        right: 10px !important;
    }
}
@keyframes gradient {
    to { background-position: 200% center; }
}
@keyframes rotate {
    0% { transform: rotateY(-90deg); }
    50% { transform: rotateY(0deg); }
    100% { transform: rotateY(90deg); }
}