.folder{
    position: absolute;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    z-index: 1;

    img{
        height: 60px;
        object-fit: contain;
        padding: 5px;
    }
    .title{
        font-size: 15px;
        color: white;
        margin: 0;
        padding: 0;
        line-height: 20px;
        text-align: center;
        text-shadow: 1px 1px 1.5px black;
    }
}
.folder-active {
    box-sizing: border-box;
    background-color: rgba(191, 182, 247, 0.089);
    z-index: 2;
    img{
        background-color: rgba(191, 182, 247, 0.089);
    }
    .title{
        background-color: rgba(191, 182, 247, 0.089);
    }
}
.folder:focus {
    cursor: grabbing !important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
