.file{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: gray;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    pointer-events: auto;
}

.file:focus {
    cursor: grabbing !important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
