.file {
    position: absolute;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    margin: 10px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
    box-sizing: border-box;
    img {
        user-select: none !important;
        height: 60px;
        max-height: 60px;
        object-fit: contain;
        padding: 5px;
    }
    .title {
        font-size: var(--item-font-size);
        max-height: var(--item-font-size);
        color: white;
        margin: 0;
        padding: 0;
        line-height: 20px;
        text-align: center;
        text-shadow: 1px 1px 1.5px black;
    }
}
.file-active {
    box-sizing: border-box;
    background-color: var(--file-active-background-color);
    z-index: 2;
}
.file:focus {
    cursor: grabbing !important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
