.experience {
    justify-content: left;
    margin: var(--size);
    h2 {
        font-size: var(--font-size-h);
    }
    h3 {
        font-size: var(--font-size-h);
        line-height: var(--size-s);
        font-weight: 100;
    }
    .line {
        height: var(--size);
        width: 2.5px;
        background-color: white;
        margin-left: 2.1px;
        transition: height 2s;
        transition-delay: 0.5s;
    }
    .expanded {
        height: 600px;
    }
}