.background{
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  object-position: 50% 50%;
  object-fit: cover;
  filter: brightness(var(--background-brightness)) grayscale(var(--background-grayscale));
}
#main {
  width: 100vw;
  height: 100vh;
}


















@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
