section {
    .socials-logo {
        height: var(--font-size-p);
        width: var(--font-size-p);
    }
    a { color: white; }
}
#welcome {
    height: var(--font-size-p);
    font-size: var(--font-size-p);
}
.logos {
    gap: var(--size); 
    margin: var(--size-s);
    justify-content:center;
    align-content:center;
}

@media screen and (max-width: 703px) {
    .welcome-side-to-side{
        flex-direction: column;
        .gap {
            text-align: center;
        }
    }
}
@media screen and (max-width: 768px) {
    .welcome-side-to-side {
        gap: var(--size-s);
        margin: var(--size-xs);
        justify-content:center;
        align-content:center;
        width:100%;
    }
}
