section {
    .socials-logo {
        height: 50px;
        width: 50px;
    }
    a { color: white; }
}
#welcome {
    height: 32px;
    font-size: 32px;
}



@media screen and (max-width: 703px) {
    .welcome-side-to-side{
        flex-direction: column;
    }
}
