.show-off-container {
    min-height: 300px;
    width: auto;
    background-color: var(--home-color);
    padding: var(--size-xs);
    display: flex;
    align-self: center;
}

.show-off-container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--home-color);
    color: white;
    padding: var(--size);
    h3 {
        font-size: var(--font-size-h);
    }
    p {
        font-size: var(--size);
    }
}


.pink {
    background-color: var(--pink-opacity);
    .show-off-container-content h3 {
        color: var(--pink);
    }
}
.blue {
    background-color: var(--blue-opacity);
    .show-off-container-content h3 {
        color: var(--blue);
    }
}
.yellow {
    background-color: var(--yellow-opacity);
    .show-off-container-content h3 {
        color: var(--yellow);
    }
}
.green {
    background-color: var(--green-opacity);
    .show-off-container-content h3 {
        color: var(--green);
    }
}
.orange {
    background-color: var(--orange-opacity);
    .show-off-container-content h3 {
        color: var(--orange);
    }
}

@media screen and (max-width: 670px) {
    .moving-cards {
        .side-to-side {
            flex-direction: column;
            margin-bottom: var(--size);
        }
        .show-off-container {
            width: 80% !important;
        }
    }
}